.small-image{width: 200px;height: 200px;}
img{Height:  200px;width: 200px;border-radius: 100%;}
.rounded-circle-mx-auto-d-block-small-image{width: 200px;height: 200px;}
body{background-color: lightblue};